h5{
    padding: 10px 0 0 0;
    background-color: #fff;
    margin: 0;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

h5 img{
    height: 70px;
    width: 50%;
    margin-bottom: 20px;
}
