/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

/* app-root{
    margin-top:50%;


} */

.app-root-img {
    margin-top: 40%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 30%;
}