<!-- <h5>
  footer works!
</h5> -->

<!-- <mat-card class="parent-mat">
  <mat-card-actions>
    <a class="anchor1"  routerLink="VehicleComponent">
      <mat-icon>drive_eta</mat-icon>
      <mat-card-subtitle>Vehicle</mat-card-subtitle>
    </a>
    <a class="anchor2"   routerLink="ContactsComponent">
      <mat-icon> phone</mat-icon>
      <mat-card-subtitle>Phone</mat-card-subtitle>
    </a>
    <a class="anchor3"  routerLink="TrailerComponent" >
      <mat-icon>local_shipping</mat-icon>
      <mat-card-subtitle>Trailer</mat-card-subtitle>
    </a>
    <a class="anchor4"  routerLink="EquipmentComponent">
      <mat-icon>local_play</mat-icon>
      <mat-card-subtitle>Equipment</mat-card-subtitle>
    </a>
  </mat-card-actions>
</mat-card> -->
<!-- <mat-card-actions class="name">
    <label class="label1">Vehicles</label>
    <label class="label2">Contacts</label>
    <label class="label3">Trailers</label>
    <label class="label4">Equipments</label>
  </mat-card-actions> -->



<mat-toolbar class="toolbarNav">
  <a class="anchor" routerLink="ContactsComponent">
    <mat-icon class="material-icons color_blue">phone</mat-icon>
    <br>
    <mat-card-title class="anchortext">Contacts</mat-card-title>
  </a>
  <a class="anchor" routerLink="VehicleComponent">
    <mat-icon class="material-icons color_blue">drive_eta</mat-icon>
    <br>
    <mat-card-title class="anchortext">Vehicles</mat-card-title>
  </a>
  <a class="anchor" routerLink="TruckComponent">
    <mat-icon class="material-icons color_blue">local_shipping</mat-icon>
    <br>
    <mat-card-title class="anchortext">Trucks</mat-card-title>
  </a>
  <a class="anchor" routerLink="EquipmentComponent">
    <mat-icon class="material-icons color_blue">local_play</mat-icon>
    <br>
    <mat-card-title class="anchortext">Equipment</mat-card-title>
  </a>
  <a class="anchor" routerLink="TrailerComponent">
    <mat-icon class="material-icons color_blue">rv_hookup</mat-icon>
    <br>
    <mat-card-title class="anchortext">Trailers</mat-card-title>
  </a>
  <!-- <a class="anchortext" routerLink="ContactsComponent">
    Phone
  </a>
  <a class="anchortext" routerLink="VehicleComponent">
    Vehicles
  </a>
  <a class="anchortext" routerLink="TruckComponent">
    Truck
  </a>
  <a class="anchortext" routerLink="EquipmentComponent">
    Equipment
  </a>
  <a class="anchortext" routerLink="TrailerComponent">
    Trailer
  </a> -->
</mat-toolbar>